body{
    margin-top: 20px;
    border: 3px solid rgb(51, 19, 190);
    border-radius: 30px;
    width: 500px;
    height: 715px;
    margin-left: auto;
    margin-right: auto;
}


.header{
    display: flex;
    justify-content: center;
    background: blue;
    border-radius: 20px;
}

.top-part{
    display: flex;
}

h1{
    font-weight: bold;
    font-size: 30px;
}

h3{
    margin-left: 7px;
    padding-top: 10px;
    color: rgb(25, 180, 128);
}

p{
    font-size: 20px;
    font-weight: bold;
    background: rgb(230, 224, 224);
    margin-left: 19px;
    margin-top: 20px;
    border: 0px solid rgb(105, 97, 97);
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 10px;
    width: 250px;
    height: 35px;
}

.dot{
    font-size: 8px;
    padding-top: 30px;
}

.img1{
    height: 50px;
    padding-top: 10px;
    margin-right: 10px;
}

.img2{
    height: 40px;
    margin-left: 10px;
}

.bottom-part{
    display: flex;
}

.type-text{
    width: 415px;
    border-radius: 15px;
}

.footer{
    margin-top: 490px;
    margin-left: 10px;
}

h4{
    display:flex;
    justify-content: center;
    font-size: 13px;
}

::placeholder{
    padding-left: 1px;
}

.type-text{
    padding-left: 15px;
}

button{
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
}
